<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Los Angeles Lakers!</p>
  <p><img class="pic" src="images/lakers.jpeg" /</p>
  <p>The Lakers are an American professional basketball team based in Los Angeles.</p>
  <p>The Lakers compete in the National Basketball Association as a member of the league's Western Conference Pacific Division.</p>
<%- include('../partials/footer') %>