<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Seattle Seahawks!</p>
  <p><img class="pic" src="images/seahawks.jpeg" /</p>
  <p>The Seahawks are a professional American football team based in Seattle.</p>
  <p>The Seahawks compete in the National Football League as a member club of the league's NFC West.</p>
<%- include('../partials/footer') %>