<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizies Express.js and EJS templates to showcase different sports pages.</p>
  <p>Sports Stadium!</p>
  <p><img class="pic" src="images/sports.jpeg" /</p>
  <p>Each sports page will contain my personal favorite team and their logo according to each sport.</p>
<%- include('../partials/footer') %>