<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Futbol Club Barcelona!</p>
  <p><img class="pic" src="images/barcelona.jpeg" /</p>
  <p>Barcelona is a professional football club based in Barcelona, Spain.</p>
  <p>Barcelona competes in La Liga which is the top flight of Spanish football.</p>
<%- include('../partials/footer') %>